Testing infrastructure working!

<form action = /names method = post>
  <label for = "name">Enter your names:</label>
  <input type = "text" name = "player_1_name"> &
  <input type = "text" name = "player_2_name">
  <input type = "submit" value = "Submit">
</form>
